body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--img {
  height: fit-content;
  align-items: center;
}

.hero--img {
  max-width: 600px;
}

section {
  padding: 40px;
}

.hero--title {
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  text-align: left;
}

.hero--p {
  width: 320px;
  height: 56px;
  left: 36px;
  top: 416px;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  text-align: left;
  }
